  :root{
    --bg: white; 
    --color: black;
    --box-color: #dcdada; 
    --btn-tema-color:rgb(95, 95, 95);

  }
    
    
  
  [dark]{
    --bg: rgb(33, 33, 33);
    --color: white;
    --box-color: rgb(143, 139, 130);
    --btn-acition-color:
    --btn-type-color:

  }
  
  
  *{
        margin: 0;
        padding: 0;
        border: 0;
      
    }
    
   

    body{
    transition: background-color .3s ease, color 3s ease;
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:var(--bg)
    
    }
     

   


    .form label{
        font-family: "Lobster" ;
        letter-spacing: 1.5px;
        position: relative;
        bottom: 2px;
        box-shadow: 0 0 0 black;
    }

    .box{
    gap: .5rem;
    display: flex;
    justify-content: center;
    background-color: var(--box-color);
    height: 31rem;
    width: 43rem;
    border-radius: 3%;
    border: solid 2px;
    z-index: 10;
    
    }

        .boxOutput{
           flex-direction: column;
           display: flex;
           position: relative;
           
        }

         .boxinput{
            flex-direction: column;
            display: flex; 
            height: 34rem;
            width: 21rem;
        }  

.input{
   width: 20rem;
    height: 28rem;
    border-radius: 10px;
    padding-left: 3px;
}

.output{
   width: 20rem;
   height: 28rem;
   border-radius: 10px;
   padding-left: 3px;
}


label {
    margin-left: 6rem;
}

.btn-action {
    position: relative; 
    top: 1px;
    left: 2rem;
    width: 11rem;
    height: 1.7rem;
    background-color: #0151ff;
    color: #eaeaea;
    border-radius: 10px;
    margin: 0;
     cursor: pointer;
}

.box button:hover{
    opacity: .7;
}

.box-btn{
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    
  
}

.btn-informal{
    margin-right: 4rem; 
    height: 2rem;
    width: 8rem;
    border-radius: 8px;
   background-color: #c3c3c3;
  
    border: solid whitesmoke 2px;
    color: #ffffff;
     cursor: pointer;
}

.btn-equilibrado{
margin-right: 4rem;
height: 2rem;
width: 8rem;
border-radius: 8px;
box-shadow: 1px 10px 20px #888888;
  background-color: #c3c3c3;
  border: solid whitesmoke 2px;
  color: #ffffff;
   cursor: pointer;
}

.btn-formal{
margin-right: 4rem;
 height: 2rem;
 width: 8rem;
 border-radius: 8px;
 border: solid, 2px;
 border: silver;
 
  background-color: #c3c3c3;
  border: solid whitesmoke 2px;
  color: #ffffff;
  cursor: pointer;
}


.active{
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 10px 20px #888888;
}

.box-btn button:hover{
     background-color: rgb(0, 0, 0);
}

.btn-copy{
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    position: relative;
    left: 18rem;
    top: 1px;
    cursor: pointer;

}

.copy{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    color: #0151ff;
} 

.btn-colar{
    height: 1.8rem;
    width: 1.9rem;
    border-radius: 50%;
    position: relative;
    left: 18rem;
    bottom: 1.7rem;
    cursor: pointer;
}

.colar{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}


:disabled{
    cursor: not-allowed;
    background-color: #888888;
}

.github{
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 16rem;
    top: 0;
    left: 0;
    right: 15rem;
}

.btn-github a:hover{
    background-color: #0151ff;
    height: 40px;
    width: 40px;
}

.copiado{
    height: 25px;
    width: 110px;
    border-radius: 15px;
    background-color: #535353;
    position: relative;
    top: 320px;
    right: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copiado p {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .8rem;
}

.copiado img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
   left: 2px;
}

@keyframes descer{
    from{
        transform: translateY(-50px);
    }
    to {
        transform: translateY(50px);
    }
}

.anmc-copy{
    animation: subir 0.5s ease-out forwards ,
     descer 2s ease-out 3s forwards;
}


@keyframes subir{
    from{
        transform: translateY(0);
    }
    to {
        transform: translateY(-62px);
    }
}

.hidden{
    visibility: hidden;
    opacity: 0;
}


.loader{
    position: absolute;
    right: 89%;
    bottom: 91%;         
    font-size: 40px;
    display: flex;
    align-items: flex-end;
    }
    
    .loader span{
    color: rgb(58, 57, 57); 
    
    animation: loader 1s infinite;
}


.loader span:nth-child(1){
    animation-delay: .25s;
    
}
.loader span:nth-child(2){
    animation-delay: 5s;
    
}
.loader span:nth-child(3){
    animation-delay: .75s;
    
}

@keyframes loader {
    0%, 100% { transform: translateY(0px);}
    50% {transform: translateY(-4px); }
    
}

.input::placeholder, .output::placeholder{
    padding-left: 2px;
}


.btn-tema{
  
    position: relative;
    left: 660px;
    bottom: 255px;
    background-color: var(--bg);
    height: 30px;
    width:  30px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    transition: background-color .3s ease, color 3s ease, box-shadow .5s ease;
}

.sun{
    width: 40px;
    height: 40px;
    fill: var(--btn-tema-color);
    transition: fill .25s ease, transform .3s ease;
    
}


    .sun-beams{
        stroke:  var(--btn-tema-color);
        stroke-width: 2;
        transition: opacity .25s ease;
        transform-origin: center;
        transition: transform .5s ease;
    }

.moon{
    height: 40px;
    width: 40px;
    transition: transform .5s ease, r .3s ease;
    transform-origin: center;
}


[dark] .moon{
    transform: translateX(-8px);;
}

[dark] .sun{
     transform: scale(0.9);
     fill: #dcdada;
}

[dark] .sun-beams{
    display: none;
}


.btn-tema :hover{
    border-radius: 50%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.7),
    0 0 80px 20px rgba(255, 255, 255, 0.7);
    transition: box-shadow .5s ease;
    
}


[dark] .btn-tema:hover .moon{
     r:4;
     
}


.btn-tema:hover .moon{
    transform: translateX(-6px);
}


.btn-tema:hover .sun-beams{
    transform: rotate(40deg);
    
    --btn-tema-color: black;
}

.btn-tema:hover .sun{
  --btn-tema-color: black;
}





/* versao pra celular */

@media (max-width: 1000px){
    .box{
        width: 15rem;
        height: 20rem;
    }
   .output{
    width: 10rem;
    height: 14rem;
   }
 
   .input{
     width: 10rem;
    height: 14rem;
   }
   
   .boxOutput{
    height: 16rem;
     width: 11rem;
   }

   .btn-action {
    top: 1px;
    left: 2rem;
    width: 11rem;
    height: 1.7rem;
    background-color: #0151ff;
    color: #eaeaea;
    border-radius: 10px;
    margin: 0;
     cursor: pointer;
}
   
   












}